doctype html
html(lang="en")
  head
    title=pageTitle
    script(type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js')
    //script(type='text/javascript' src='https://pages.runbam.com/hh.js')

  body
    div
      h1 Here's what we know about you:
      
      dl
        dt id
        dd #{u.id}
        dt sub
        dd #{u.sub}
        dt displayName
        dd #{u.displayName}
        dt nickname
        dd #{u.nickname}
        dt provider
        dd #{u.provider}
        dt email
        dd #{u.email}
        dt emails: 
          if u.emails
            ol
            each email in u.emails
              li= email.value
        
    form(method='POST' action='https://workersandbox.mturk.com/mturk/externalSubmit')
      div
        p something to say:
        input(name="x")
      div
        p assignment id:
        input(id="assignmentId" name="assignmentId")
      div
        button.btn.btn-primary(type='submit') Done     
    
    script.
      turkSetAssignmentID();
    
    a(href='/logoff') Logoff